@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&display=swap');

:root {
    --fontpadrao: 'Montserrat', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: var(--fontpadrao);
}

a {
    text-decoration: none;
    color: black;
}

body {
    background-color: white;
    margin: 0px 60px 0px 50px;
}

main {
    margin-bottom: 20px;
}

header {
    font-family: var(--fontpadrao);
    font-weight: 600;
    height: 30px;
    margin-top: 50px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    position: relative;
}

.menu {
    display: flex;
    align-items: center;
}

.menu  a {
    margin: 0px 20px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.logo img {
    max-width: 100px;
    margin-bottom: 5px;
}

.logo > h1 {
    font-size: 2em;
    font-weight: 400;
}

nav {
    display: flex;
    align-items: baseline;
}

nav > a {
    margin: 0px 10px;
    padding: 5px;
}

nav > .cart {
    align-items: end;
    background-color: antiquewhite;
    border-radius: 50%;
    margin: -4px;
    margin-left: 10px;
    padding: 5px;
    width: 28px;
    height: 28px;
    position: relative;
}

.sacola {
    padding-left: 2px;
}

nav > .cart > .number {
    background-color: orange;
    color: white;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 25px;
}
nav > .cart > .number > p {
    font-size: 0.7em;
}

section.conteudo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.separacao > div {
    background-color: rgba(240, 240, 240, 0.76);
    width: 3px;
    height: 55vw;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 155px;
}

.variacao {
    align-items: center;
    justify-content: center;
    display: grid;
}

.variacao img {
    width: 80px;
    height: 80px;
    margin: 10px;
    background-color: rgba(240, 240, 240, 0.76);
}

img.select {
    border: 1px solid black;
}

section.product {
    max-width: 50vw;
    margin-top: 30px;
}

.grid-product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

img.principal {
    width: 510px;
    height: 352px;
}

div.background {
    background-color: rgba(240, 240, 240, 0.76);
    height: 460px;
    display: flex;
    align-items: center;
}

.recently-viewed {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: bold;
    width: 510px;
}

.back-next {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.back-next > .back {
    width: 35px;
    height: 35px;
    background-color: rgba(240, 240, 240, 0.76);
    border-radius: 50%;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-next > .next {
    width: 35px;
    height: 35px;
    background-color: rgba(240, 240, 240, 0.76);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-products {
    display: grid;
    grid-column: 1 / 3;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 510px;
}

.other-products img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    background-color: rgba(240, 240, 240, 0.76);
}

.other-products p {
    margin-top: 5px;
    font-size: small;
}

.other-products .name-price {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.other-products .money {
    font-weight: bold;
}

.descricao {
    margin: 30px;
}

.descricao > .name > h1 {
    font-size: 3em;
    font-family: var(--fontpadrao);
}

.descricao > .name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descricao .favorite {
    background-color: rgba(240, 240, 240, 0.76);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao > .description-product {
    max-width: 550px;
    font-family: var(--fontpadrao);
    font-size: 1em;
    margin-top: 30px;
    line-height: 1.7;
}

.descricao > .price {
    margin-top: 40px;
}

.price > p {
    font-size: 2.7em;
    font-weight: 540;
    font-family: Arial, Helvetica, sans-serif;
}

.price > .star {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.star > .review {
    margin-left: 15px;
    font-size: 1.5em;
    text-decoration: underline;
}

.colour {
    margin-top: 40px;
    font-family: var(--fontpadrao);
    font-size: 1.3em;
    font-weight: 700;
}

.colors {
    display: flex;
    flex-direction: row;
    margin-left: -15px;
}

.colors div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 15px 15px 10px 15px;
}

.amarelo {
    background-color: rgb(233, 151, 0);
}

.cinza {
    background-color: rgb(150, 145, 139);
}

.azul {
    background-color: rgb(104, 119, 142);
}

.verde {
    background-color: rgb(2, 97, 61);
    position: relative;
}

.line {
    position: absolute;
    left: 150.4vh;
    width: 30px;
    height: 3.5px;
    background-color: rgb(36, 36, 36);
    border-radius: 3px;
}

.petroleo {
    background-color: rgb(38, 63, 55);
}

.buy-add {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px 40px 0px;
}

.buy {
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .buy > a {
        font-weight: 700;
        font-size: 1.1em;
    }

.addtocart {
    background-color: black;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addtocart > a {
    color: white;
    font-weight: 400;
    font-size: 1.1em;
}

.weeks {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: small;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 1.8px solid rgba(211, 210, 210, 0.76);
}

.frete {
    display: flex;
    justify-content: space-between;
    font-size: small;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 1.8px solid rgba(211, 210, 210, 0.76);
}

footer {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}

footer > div {
    background-color: black;
    width: 85px;
    height: 65px;
    border-radius: 50%;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > div::before {
    content: ''; /* Isso serve para dizer que não tem nada */
    width: 0;
    height: 0;
    border-left: 96px solid transparent;
    border-right: 126px solid transparent;
    border-bottom: 100px solid black;
    bottom: -45px;
    position: absolute;
    right: -53px;
}

footer > div::after {
    content: ''; /* Isso serve para dizer que não tem nada */
    width: 0;
    height: 0;
    border-left: 57px solid transparent;
    border-right: 105px solid transparent;
    border-bottom: 100px solid black;
    bottom: -46px;
    position: absolute;
    right: -94px;
}

footer a {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}