@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
    --font-padrao:'Roboto', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
}

.material-symbols-outlined {
    font-size: 15px;
    margin-right: 0px;
}

.centro {
    display: flex;
    align-items: center;
}

header {
    height: 30px;
    background-color: rgb(24, 24, 32);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 5px 15px
}

header > div > a {
    margin-right: 25px;
    margin-left: 10px;
}

header > nav {
    display: flex; /* ? sem isso o menu fica na vertical */
    align-items: center;
}

.adicionar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 17px;
    height: 17px;
    border-radius: 7px;
    background-image: linear-gradient(to top right, rgb(195, 7, 241), rgb(255, 206, 116));
}

.adicionar > span {
    color: white;
    font-size: x-small;
    font-weight: bolder;
}

nav > a {
    padding-right: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.perfil {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}